{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block Title %}Test Tailwind{% endblock %}  </title>
    {% tailwind_css %}
</head>
<body>
    <nav class="bg-gray-800 p-4 border-b border-gray-700">
        <ul class="flex space-x-8">
            <li class="text-white hover:text-yellow-300 hover:border-b-2 border-yellow-300 cursor-pointer">Home</li>
            <li class="text-white hover:text-yellow-300 hover:border-b-2 border-yellow-300 cursor-pointer">About</li>
            <li class="text-white hover:text-yellow-300 hover:border-b-2 border-yellow-300 cursor-pointer">Contact</li>
            <li class="text-white hover:text-yellow-300 hover:border-b-2 border-yellow-300 cursor-pointer">Blog</li>
        </ul>
    </nav>
    
    {% block content %}{% endblock content %}
    
</body>
</html>